sitedemo_server:
  image: golang:1.7.1
  working_dir: /go/src/github.com/zykzhang/site-demo
  command: go run cmd/livereload/main.go -watch=server -o=server
  volumes:
    - $HOME/go/src/github.com/zykzhang/site-demo:/go/src/github.com/zykzhang/site-demo
  ports:
    - 9090:8080
  links:
    # - mongo
    # - elasticsearch
    - redis
    - mysql
  environment:
    MYSQL_PWD: root

# mongo:
#   image: mongo:3.2
#     # not compatible with mac
#   container_name: site-demo_mongo
#   volumes:
#     - $HOME/go/src/github.com/zykzhang/site-demo/docker/db/mongo:/data/db/mongo
#   ports:
#     - 27027:27017

# elasticsearch:
#   image: elasticsearch:2.3.2
#   container_name: site-demo_es
#   volumes:
#     - $HOME/go/src/github.com/zykzhang/site-demo/docker/db/es/data:/data
#     # - $HOME/go/src/github.com/zykzhang/site-demo/docker/db/es/data:/usr/share/elasticsearch/data
#   ports:
#     - 9200:9200
#     - 9300:9300

redis:
  image: redis:3.2
  container_name: site-demo_redis
  ports:
    - 6377:6379

mysql:
  image: mysql:5.7
  container_name: site-demo_mysql
  volumes:
    - $HOME/go/src/github.com/zykzhang/site-demo/docker/db/mysql:/var/lib/mysql
  ports:
    - 3308:3306
  environment:
    MYSQL_ROOT_PASSWORD: root